@font-face      {
                font-family: goth;
                src: url(SHOWG.TTF);
                }

@font-face      {
                font-family: Londrina;
                src: url(LondrinaSolid-Regular.ttf);
                }

body {background: #222;}

#leaves {
        position:relative;
        top:-50px;
        width:100%;
        text-align: right;
        }
                
#leaves i       {
                display: inline-block;
                width: 200px;
                height: 150px;
                background: linear-gradient(to bottom right, #309900, #005600);
                transform: skew(20deg);
                border-radius: 5% 40% 70%;
                box-shadow: inset 0px 0px 1px #222;
                border: 1px solid #333;
                z-index: 1;
                -webkit-animation: falling 3s 0s infinite;
                opacity: 30;
                }
                
#leaves i:nth-of-type(2n) { -webkit-animation: falling2 5s 0s infinite; }
#leaves i:nth-of-type(3n) { -webkit-animation: falling3 5s 0s infinite; }
                
#leaves i:before        {
                        position: absolute;
                        content: '';
                        top: 117px;
                        right: 9px;
                        height: 27px;
                        width: 32px;
                        transform: rotate(49deg);
                        border-radius: 0% 15% 15% 0%;
                        border-top: 1px solid #222;
                        border-bottom: 1px solid #222;
                        border-left: 0px solid #222;
                        border-right: 1px solid #222;
                        background: linear-gradient(to right, rgba(0,100,0,1), #005600);
                        z-index: 1;
                        opacity: 30;
                        }
                
#leaves i:after {
                content: '';
                height: 125px;
                width: 10px;
                background: linear-gradient(to right, rgba(0,0,0,.15), rgba(0,0,0,0));
                display: block;
                transform: rotate(125deg);
                position: absolute;
                left: 85px;
                border-radius:50%;
                }
                
#leaves i:nth-of-type(n)        { height:23px; width:30px; }
#leaves i:nth-of-type(n):before { width:7px; height:5px; top:17px; right:1px; }
#leaves i:nth-of-type(n):after  { width:2px; height:17px; left: 12px; top:0px; }
                
#leaves i:nth-of-type(2n+1)     { height:11px; width:16px; }
#leaves i:nth-of-type(2n+1):before      { width:4px; height:3px; top:7px; right:0px; }
#leaves i:nth-of-type(2n+1):after       { width:2px; height:6px; left: 5px; top:1px; }
                
#leaves i:nth-of-type(3n+2)     { height:17px; width:23px; }
#leaves i:nth-of-type(3n+2):before      { height:4px; width:4px; top:12px; right:1px; }
#leaves i:nth-of-type(3n+2):after       { height:10px; width:2px; top:1px; left:8px; }
                
#leaves i:nth-of-type(n)        { -webkit-animation-delay: 1.9s;}
#leaves i:nth-of-type(2n)       { -webkit-animation-delay: 3.9s;}
#leaves i:nth-of-type(3n)       { -webkit-animation-delay: 2.3s;}
#leaves i:nth-of-type(4n)       { -webkit-animation-delay: 4.4s;}
#leaves i:nth-of-type(5n)       { -webkit-animation-delay: 5s;  }
#leaves i:nth-of-type(6n)       { -webkit-animation-delay: 3.5s;}
#leaves i:nth-of-type(7n)       { -webkit-animation-delay: 2.8s;}
#leaves i:nth-of-type(8n)       { -webkit-animation-delay: 1.5s;}
#leaves i:nth-of-type(9n)       { -webkit-animation-delay: 3.3s;}
#leaves i:nth-of-type(10n)      { -webkit-animation-delay: 2.5s;}
#leaves i:nth-of-type(11n)      { -webkit-animation-delay: 1.2s;}
#leaves i:nth-of-type(12n)      { -webkit-animation-delay: 4.1s;}
#leaves i:nth-of-type(13n)      { -webkit-animation-delay: 1s;  }
#leaves i:nth-of-type(14n)      { -webkit-animation-delay: 4.7s;}
#leaves i:nth-of-type(15n)      { -webkit-animation-delay: 3s;  }
                
#leaves i:nth-of-type(n)        { background: linear-gradient(to bottom right, #309900, #005600); }
#leaves i:nth-of-type(2n+2)     { background: linear-gradient(to bottom right, #5e9900, #2b5600); }
#leaves i:nth-of-type(4n+1)     { background: linear-gradient(to bottom right, #990, #564500); }
                
#leaves i:nth-of-type(n)        { opacity: .7;}
#leaves i:nth-of-type(3n+1)     { opacity: .5;}
#leaves i:nth-of-type(3n+2)     { opacity: .3;}
                
#leaves i:nth-of-type(n)        {transform: rotate(180deg);}
                
                
#leaves i:nth-of-type(n)        { -webkit-animation-timing-function:ease-in-out;}
                
@-webkit-keyframes falling {
        0%      {
                -webkit-transform:
                translate3d(300,0,0)
                rotate(0deg);
                }
                    
        100%    {
                -webkit-transform:
                translate3d(-350px,700px,0)
                rotate(90deg);
                opacity: 0;
                }
        }
                
@-webkit-keyframes      falling3        {
        0%      {
                -webkit-transform:
                translate3d(0,0,0)
                rotate(-20deg);
                }
                    
        100%    {
                -webkit-transform:
                translate3d(-230px,640px,0)
                rotate(-70deg);
                opacity: 0;
                }
        }
                
@-webkit-keyframes      falling2        {
        0%      {
                -webkit-transform:
                translate3d(0,0,0)
                rotate(90deg);
                }
                    
        100%    {
                -webkit-transform:
                translate3d(-400px,680px,0)
                rotate(0deg);
                opacity: 0;
                }
        }

header  {
        font-family:'goth';
        font-size: 50px;
        color: rgb(255, 0, 0);
        padding-top: 30px;
        }

.image  {
        float: left;
        top: 50%;
        position:fixed;
        width: 130px;
        height: 100px;
        -webkit-animation:spin 5s linear infinite;
        -moz-animation:spin 5s linear infinite;
        animation:spin 4s linear infinite;
        }
@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

html    {
        scroll-behavior: smooth;
        width: 100%;
        }

#content        {
                position: relative;
                }
    
#content img    {
                position: absolute;
                top: 0px;
                right: 0px;
                height: 117px;
                width: 207px;
                background-attachment: fixed;
                }

div.scrollmenu  {
                background-color: #333;
                overflow: auto;
                white-space: nowrap;
                margin-top: 110px;
                margin-left: 175px;
                margin-right: 200px;
                position: sticky;
                top: 0;
                z-index: 2;
                text-align: center;
                border-radius: 20px;
                font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                font-size: 17px
                }
                  
div.scrollmenu a        {
                        position: relative;
                        display: inline-block;
                        color: white;
                        text-align: center;
                        padding: 14px;
                        text-decoration: none;
                        padding-left: 50px;
                        padding-right: 30px;
                        }
                  
div.scrollmenu a:hover  {
                        background-color: #777;
                        }

body    {
        background-image: url('5151136.png');
        background-size: cover;
        background-attachment: fixed;
        }

iframe  {
        padding-left: 500px;
        }

h1      {
        font-family: goth;
        font-size: 50px;
        padding-left: 100px;
        padding-top: 150px;
        color: rgb(255, 0, 0);
        }

p       {
        font-size: 25px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-weight: bolder;
        padding-top: 70px;
        padding-right: 50px;
        color: rgb(0, 0, 0);
        padding-left: 50px;
        }

.header img     {
                float: right;
                width: 250px;
                height: 200px;
                padding-top: 100px;
                padding-right: 250px;
                }
  
.header h1      {
                position: relative;
                top: 18px;
                left: 10px;
                }

.footer {
        left: 0;
        bottom: 0;
        width: 100%;
        color: white;
        text-align: center;
        }